name: Gradle Build

on: [push, pull_request]

jobs:
  build:
    name: Test with Java ${{ matrix.jdk }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jdk: ['8', '11', '17']

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.jdk }}
        cache: 'gradle'
    - name: Make gradlew executable
      run: chmod +x ./gradlew
    - name: Run tests
      run: ./gradlew test
    - name: Build package
      run: ./gradlew build
    - name: Upload OWASP Dependency Check results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: owasp-reports-java-${{ matrix.jdk }}
        path: build/reports/
        retention-days: 30
